# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec

# Installer logs
*.log

# VSCode config
.vscode/

# Environment
.venv/
env/
venv/
ENV/
*.egg-info/

# OS-specific files
.DS_Store
Thumbs.db
desktop.ini
